<main class="relative min-h-screen bg-background text-foreground">
  <%= render "home/navbar" %>
  <%= render "home/hero" %>
  <%= render "home/features" %>
  <%= render "home/how_it_works" %>
  <%= render "home/cta" %>
</main>
